menu{
    align-items: center;
}
#header {
    background-color: rgb(153, 175, 241);
    padding: 30px 0px;
}
#logo {
    display:inline-block;
    width: 348px;
    height: 57px;
    position:relative;
}
#menu {
    position: absolute;
    right: 0;
    top: 15px;
    display:none;
}
#nav {
    list-style: none;
    padding: 0;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    
}
#nav.vertical {
    display: block;
    padding-left: 20px;
}
#nav.vertical li {
    display: list-item;
    line-height: 40px;
}
#nav li {
    display:inline-block;
    padding-right: 50px;
}
#nav li:last-child {
    padding-right: 0;
}
@media screen and (max-width: 800px) {
    #menu {
        display: inline-block;
    }
    #nav {
        display: none;
    }
}
#cursos{
    display: flexbox;
    text-align: center; 
}
#img:hover {
    transform: scale(1.1);
}
 #detalhes{
    fle
    padding-bottom: 30px;
    width: 800px;
    text-align: center;
}


#footer{
    text-align: center;
    background-color: #4169E1;
    height: 50px;
}