#header {
    padding: 30px 0px;
}
#logo {
    display:inline-block;
    width: 348px;
    height: 57px;
    position:relative;
}
#menu {
    position: absolute;
    right: 0;
    top: 15px;
    display:none;
}
#nav {
    list-style: none;
    padding: 0;
    display: inline-block;
    font-size: 30px;
}
#nav.vertical {
    display: block;
    padding-left: 20px;
}
#nav.vertical li {
    display: list-item;
    line-height: 40px;
}
#nav li {
    display:inline-block;
    padding-right: 40px;
}
#nav li:last-child {
    padding-right: 0;
}
@media screen and (max-width: 800px) {
    #menu {
        display: inline-block;
    }
    #nav {
        display: none;
    }
}
#cursos{
    display: flexbox;
    text-align: center; 
}
#img_cursos:hover {
    transform: scale(1.1);
}

#detalhes{
    position: relative;
    margin:auto;
    width: 800px;
}

#footer{
    text-align: center;
    height: 50px;
    bottom: 0;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    display: block;
    padding:5px 0 5px 0;
}

#tit_form{
    font-family: Arial, Helvetica, sans-serif;
}

#box_form{
    margin:auto;
    width:500px;
    position:relative;
    top:50px;
    padding-bottom: 50px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    /*-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:white; */
}

ul{
    text-transform: uppercase;
}

body{
    background: url(imagens/testebg3.jpg) fixed;
}

input{
    color: black;
}

#textarea,#textselect,option{
    color: black;
}

.container{
    text-align: center;
}

iframe{
    width: 400px;
    margin: auto;
}
:any-link{
    text-decoration: none;
}

img{
    position: relative;
    margin-bottom: 60px;
}